# Archivos temporales de LaTeX
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk

# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc~
*.py~

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de salida temporales
*.tmp
*.temp
